.box{
    background: #ffffff;
}
.bannerImg{
    width: 100%;
}
.boxContent{
    padding: 0 20px;
}
.form-title{
    font-weight: bold;
}
.am-list-item .am-input-control input{
    text-align: left;
}
.am-list-item.am-input-item{
    padding-left: 0 !important;
}
.boxContent{
    margin-bottom: 70px;
}
.footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: #fff;
    padding: 0 10px;
}