.freeAdmissionBox{
    background: #ffffff;
    display: block;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 620px;
    margin: 0 auto;
}
.freeAdmissionBox .bannerImg{
    width: 100%;
}
.freeAdmissionBox .boxContent{
    padding: 0 20px;
}
.freeAdmissionBox .form-title{
    font-weight: bold;
}
.freeAdmissionBox .am-list-item .am-input-control input{
    text-align: left;
}
.freeAdmissionBox .am-list-item.am-input-item{
    padding-left: 0 !important;
}
.freeAdmissionBox .am-list-item.am-list-item-middle{
    padding-left: 0 !important;
}
.freeAdmissionBox .am-list-item .am-list-line{
    padding-right: 0 !important;
}
.freeAdmissionBox .am-list-item.am-textarea-item{
    padding-left: 0 !important;
}
.freeAdmissionBox .boxContent{
    margin-bottom: 70px;
}

.freeAdmissionBox .footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: #fff;
    padding: 0 !important;
    max-width: 620px !important;
    margin: 0 auto !important;
    border: none;
}
.freeAdmissionBox .footer .am-button-warning{
    margin: 0 10px;
}
.freeAdmissionBox .am-button{
    border: none;
    /* border-radius: 4px; */
}
.freeAdmissionBox .footer .am-button{
    border: none;
    /* border-radius: 4px; */
}
.freeAdmissionBox .am-list-item .am-list-line .am-list-extra{
    color: #000;
}
.freeAdmissionBox .codeImg{
    position: absolute !important;
    right: 0;
    top: 3px;
    height: 37px;
    line-height: 37px;
    width: 120px;
    font-size: 15px;
    border-radius: 2px;
    border: 1PX solid #ddd !important;
}
.freeAdmissionBox .prompt_content{
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}
.freeAdmissionBox .rightCall{
    position: fixed;
    right: 5px;
    top: 40%;
    width: 50px;
}
.freeAdmissionBox .afterSale{
    /* position: absolute;
    right: 5px;
    top: 40%; */
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.freeAdmissionBox .afterSale img{
    width: 100%;
}
.freeAdmissionBox .complaint{
    /* position: fixed;
    right: 5px;
    top: 45%; */
    width: 50px;
    height: 50px;
}
.freeAdmissionBox .complaint img{
    width: 100%;
}
/* #e94f4f */
.freeAdmissionBox .am-flexbox .am-flexbox-item:first-child{
    margin-left: 10px;
}

/* *, *:before, *:after{
    border: none !important;
} */