.browserAlt{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: rgba(0,0,0,.7);
    text-align: center;
    color: #fff;
    padding-top: 10px;
}
.browserAltNone{
    display: none;
}
.fakeAuthorizationBox{
    background: #ffffff;
    display: block;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 620px;
    margin: 0 auto;
}

.fakeAuthorizationBox .bannerImg{
    width: 100%;
}
.fakeAuthorizationBox .boxContent{
    padding: 0 20px;
}
.fakeAuthorizationBox .form-title{
    font-weight: bold;
}
.boxContent .am-list-item .am-input-control input{
    text-align: left;
    font-size: 15px;
    color: #222222;
}
.boxContent .am-list-item.am-input-item{
    padding-left: 0 !important;
    height: 48px !important;
}
.boxContent .am-list-item.am-list-item-middle{
    padding-left: 0 !important;
    height: 48px;
}
.boxContent .am-list-item .am-list-line{
    padding-right: 0 !important;
}
.boxContent .am-list-item.am-textarea-item{
    padding-left: 0 !important;
}
.fakeAuthorizationBox .submitApplication{
    font-size: 16px !important;
    font-weight: bold;
    border-radius: 4px;
    background-image: linear-gradient(to right, #f53 , #ff0042);
}
.fakeAuthorizationBox .selectAddress{
    font-size: 16px !important;
    font-weight: bold;
    border-radius: 4px;
    background-image: linear-gradient(to right, #40a9ff , #1890ff);
}
.fakeAuthorizationBox .am-list-body div:not(:last-child) .am-list-line{
    border-bottom: 1px solid #eeeeee !important;
}
.fakeAuthorizationBox .am-list-body{
    border: 0 !important;
}
.boxContent .am-list-body{
    border-bottom: none !important;
}
.boxContent .am-list-item .am-input-label{
    color: #828282;
}
.boxContent .am-list-item .am-list-line .am-list-content{
    color: #828282;
}
.boxContent .am-textarea-label{
    color: #828282;
}
/* .fakeAuthorizationBox .boxContent{
    margin-bottom: 70px;
} */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
    html:not([data-scale]) .am-list-body div:not(:last-child) .am-list-line:after{
        background-color: transparent !important;
    }
}


.fakeAuthorizationBox .footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: #fff;
    padding: 0 !important;
    max-width: 620px !important;
    margin: 0 auto !important;
    border: none;
}
.fakeAuthorizationBox .footer .am-button-warning{
    margin: 0 10px;
}
.fakeAuthorizationBox .am-button{
    border: none;
    /* border-radius: 4px; */
}
.fakeAuthorizationBox .footer .am-button{
    border: none;
    /* border-radius: 4px; */
}
.fakeAuthorizationBox .am-list-item .am-list-line .am-list-extra{
    color: #222222;
    font-size: 15px;
    flex-basis: 56%;
}
.boxContent .codeImg{
    position: absolute !important;
    right: 0;
    top: 5px;
    height: 37px;
    line-height: 37px;
    width: 120px;
    font-size: 15px;
    border-radius: 6px;
    border: 1PX solid #eeeeee !important;
}

.boxContent .codeImgs{
    position: absolute !important;
    right: 0;
    top: 5px;
    height: 37px;
    line-height: 37px;
    width: 120px;
    font-size: 15px;
}

.fakeAuthorizationBox .am-list-body:before{
    background-color: transparent !important;
}
.fakeAuthorizationBox .am-list-body:after{
    background-color: transparent !important;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
    html:not([data-scale]) .am-list-body:after{
        background-color: transparent !important;
    }
    html:not([data-scale]) .am-list-body:before{
        background-color: transparent !important;
    }
}

.fakeAuthorizationBox .prompt_content{
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}
.fakeAuthorizationBox .rightCall{
    position: fixed;
    right: 5px;
    top: 25%;
    width: 50px;
    z-index: 1000;
}
.fakeAuthorizationBox .afterSale{
    /* position: absolute;
    right: 5px;
    top: 40%; */
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.fakeAuthorizationBox .afterSale img{
    width: 100%;
}
.fakeAuthorizationBox .complaint{
    /* position: fixed;
    right: 5px;
    top: 45%; */
    width: 50px;
    height: 50px;
}
.fakeAuthorizationBox .complaint img{
    width: 100%;
}
/* #e94f4f */
.fakeAuthorizationBox .am-flexbox .am-flexbox-item:first-child{
    margin-left: 10px;
}

.fakeAuthorizationBox *:before{
    border: none !important;
}
.am-modal-transparent{
    width: 340px;
}
.am-modal-content{
    width: 340px;
    overflow: inherit;
}
.am-button{
    border: none !important;
}

.boxContent .am-list-item .am-input-label,
.boxContent .am-list-item .am-list-line .am-list-content,
.boxContent .am-textarea-label,
.boxContent .am-button
{
    font-size: 14px;
}