
.box{
    display: none;
}
.operation{
    padding: 10px 20px 0 20px;
}
.detailsBox{
    margin-top: 10px;
    background: #ffffff;
    padding: 0 20px;
    text-align: right;
}
.detailsFooter{
    padding: 0 20px;
    margin: 20px 0;
}
.listItem{
    border-bottom: 1px solid #e2e2e2;
    padding: 8px 0;
}
.details_title{
    border-bottom: 1px solid #e2e2e2;
    font-size: 22px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}
.details_title_content{
    position: relative;
    display: inline-block;
}
.tips{
    position: absolute;
    right: -48px;
    top: 20px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    color: #fff;
    padding: 0 5px;
}
