
.box{
    display: none;
    background: #ffffff;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 620px;
    margin: 0 auto;
}
.operation{
    text-align: center;
    padding: 10px 20px 0 20px;
}
.detailsBox{
    /* margin-top: 10px; */
    background: #ffffff;
    padding: 0 20px;
    text-align: right;
}
.detailsFooter{
    padding: 0 20px;
    margin: 20px 0;
}
.listItem{
    border-bottom: 1px solid #e2e2e2;
    padding: 8px 0;
}
.details_title{
    border-bottom: 1px solid #e2e2e2;
    font-size: 22px;
    text-align: center;
    height: 56px;
    line-height: 56px;
    margin-bottom: 10px;
}
.details_title_content{
    position: relative;
    display: inline-block;
}
.tips{
    position: absolute;
    right: -48px;
    top: 18px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    color: #fff;
    padding: 0 5px;
}
.followUp .ListView{
    padding: 1px 13px;
    background: #f7f7f7;
    margin: 10px 20px;
    border-radius: 4px;
}
.followUp{
    background: #ffffff;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 620px;
    margin: 0 auto;
}
.followUp .detailsFooter{
    /* border-bottom: 5px solid #efecec !important; */
}

.tag-container{
    display: flex;
    padding-top: 9px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .tag-container > div {
    margin-left: 9px;
    margin-bottom: 9px;
  }